@import './partials/responsive';
@import '~bootstrap/scss/bootstrap';
@import './partials/variables';
@import './partials/responsive';

.oto-container {
  background-color: $primary;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .oto-logo {
    height: auto;
    width: 25%;
  }
  h1 {
    font-family: $regular, Arial, Helvetica, sans-serif;
    font-size: 3em;
    color: $secondary;
    letter-spacing: 30px;
    margin: 1em;
  }
}
